<div class="row">
    <div class="col-4">
        <label>@Html.RadioButtonFor(model => model, "M") M</label>
    </div>
    <div class="col-4">
        <label>@Html.RadioButtonFor(model => model, "F") F</label>
    </div>
    <div class="col-4">
        <label>@Html.RadioButtonFor(model => model, "N") N</label>
    </div>
</div>

